<div class="row">
  <div class="col-md-6" style="background-color:#5AB3AD">
    <%= image_tag('passport_green.png') %>
  </div>

  
  <div class="col-md-6">
    <div class="container">
    <h1>Log in</h1>
    <%= form_for(:employees, url: 'authenticate') do |f| %>
      <%= f.label :user_name %>
      <%= f.email_field :user_name, class: 'form-control' %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
	<%= f.check_box :remember_me %>
	<span>Remember me</span>
      <% end %>
      
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    </div>
    </div>

  
</div>
