<table class="table">
  <th>
    <td>name</td>
    <td>passport number</td>
    <td>country of visa</td>
    <td>type</td>
    <td></td>
  </th>
  <% if @visas %>
    <% @visas.each do |visa| %>
      <% next if visa.archived? %>
      <tr>
	<td>V<%= visa.id %></td>
	<td><%= visa.applicant.name %></td>
	<td><%= visa.applicant.passport_number %></td>
	<td><%= visa.country_abbr %></td>
	<td><%= visa.visa_type_name %></td>
	<td><button class="btn btn-primary" onclick="toggle_status(<%= visa.id %>)">Detail  <span class="caret"></span></button></td>
      </tr>
      
      <tr id="visa_<%= visa.id %>" style="display:none">
	<td></td>
	<td colspan="5" style="text-align:center">
	  <% visa.history_statuses.each do |status| %>
	    <p><%= status.status_name %>,  <%= status.created_at %></p>
	    <h5>Has problem? Please tell us. <%= link_to 'send a message to use', new_message_path(applicant: visa.applicant) %></h5>
	    <br>
	  <% end %>
	</td>
      </tr>
      
    <% end %>
  <% else %>
    <tr>
      <td colspan="4" style="text-align:center"><h3>Input name and passport number to get visa status</h3></td>
    </tr>
  <% end %>
</table>

<script>
 function toggle_status(id) {
   if(jQuery("#visa_" + id).css('display') == 'none') {
     jQuery("#visa_" + id).show();
   } else {
     jQuery("#visa_" + id).hide();
   }
 }
</script>
